@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 0.2px #9aac98;
    }

    /* .font-outline-4 {
        -webkit-text-stroke: 4px black;
    } */
}


.montserrat {
    font-family: var(--font-montserrat);
}

.poppins {
    font-family: var(--font-poppins);
}

.dark-green {
    color: #9aac98
}

.dark-orange {
    color: #F79D7D
}